html{
    margin: 0;
    padding: 0;
}

.page-header{
    display: inline;
}

body{
    background-color: #f0e7cc;
}

.lead{
    color: khaki;
}

.fenetre{
    background-color: #063C72;
    margin: 10px auto;
    padding: 40px;
    width: 75%;
}

header div a{
    position: relative;
    padding: auto;
}
